@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Application Logotech</h1>
    <p class="lead">Logotech est une application qui permet aux logopèdes de faire une gestion approfondie de leur patientèle.
    
    </p>
</div>

<div>
    <h2>Horaire des consultations :</h2>
    <ul>
        <li>Lundi de 08h30 à 12h30 et de 13h30 à 18h00</li>
        <li>Mardi de 08h30 à 12h30 et de 13h30 à 18h00</li>
        <li>Mercredi de 08h30 à 12h30</li>
        <li>Jeudi de 08h30 à 12h30 et de 13h30 à 18h00</li>
        <li>Vendredi de 08h30 à 12h30 et de 13h30 à 18h00</li>
    </ul>  
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Présentation du métier de logopède</h2>
        <p>
            Professionnel traitant les troubles de la communication concernant le langage, 
            la parole et la voix, appelé orthophoniste en France et logopédiste en Suisse.
        </p>
        <img src="~/ImageSite/Logopédie1.jpg" width="350px" height="300px"/>
        <br/><br/>
        <p><a class="btn btn-primary" href="https://www.uplf.be/">En savoir plus sur le métier de logopède.</a></p>
    </div>
    <div class="col-md-4">
        <h2>Video de présentation du métier de logopède</h2>
        <p>
            La logopédie est une discipline paramédicale. 
            La logopède exécute des actes de rééducation de la sphère oro-faciale.
        </p>
        <img src="~/ImageSite/slide-logopedie.png" width="350px" height="300px" /><br/><br/>
        <p><a class="btn btn-primary" href="https://www.youtube.com/watch?v=DoMxN5e1s_Y">Video de présentation du mérier de logopède.</a></p>
    </div>
    <div class="col-md-4">
        <h2>La logopédie et l'enfance, les interactions</h2>
        <p>
            L’enseignant(e) ou les professionnels qui suivent votre enfant ont proposé des séances d’orthophonie
            pour votre enfant. En quoi est ce que cela consiste ?.
        </p>
        <img src="~/ImageSite/logopedie2.jpg" width="400px" height="300px" /><br/><br/>
        <p><a class="btn btn-primary" href="http://www.enfant-different.org/">Enfant différent</a></p>
    </div>
</div>